<h2>My book loans</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Time Extended</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
<%= for book <- @books do %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.code %></td>
      <td><%= book.start_date %></td>
      <td><%= book.due_date %></td>
      <td><%= book.times_extended %></td>
      <td>
        <span>
          <%= link "Extend", to: book_path(@conn, :extend, book.id), id: book.id, class: "btn btn-default btn-xs" %>
        </span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>