<!-- <template>
  <div>
      <h2>My book loans</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Time Extended</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="book in bookings">
      <td> {{book.title}} </td>
      <td> {{book.code}} </td>
      <td> {{book.start_date}}</td>
      <td> {{book.due_date}}</td>
      <td> {{book.times_extended}}</td>
      <td>
        <span>
            <button v-on:click = "book_path(book.id)" class="btn btn-default btn-xs" id="@book.id">Extend</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template> -->
